---
title: Hey, I'm Steve Nguy!
layout: layouts/home.njk
description: My working space
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  I work at <a href="https://line.me/en/">LINE</a> as a Front-End Engineer
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
